@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@700&display=swap');
body {
  /* background: yellow; */
  width: 100vw;
  /* padding-top: 90px; */
  margin: 0 auto;
  height: 100vh;
}

.Move {
  animation: MoveUpDown 2s ease-in-out infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translate(-10px);
  }
  50% {
    transform: translate(10px);
  }
}

.Projects{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  padding-left: 8vw;
  
}

.Projects2{
  width: 28vw;
  margin-bottom: 5rem;
  padding-right: 4rem;
}


.Bio{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 3vh;
}
.Nav {
  display: flex;
  justify-content: space-between;
  width: 85vw;
  margin: 0 auto;
  padding-top: 10px;
  position: sticky;
  top: 0rem;
}
.Resume {
  display: flex;
}

.Resume p {
  padding-right: 5px;
}

.Arrow {
  display: flex;
  flex-direction: row;
  padding-right: 25px;
}


.Home {
  padding-right: 5vw;
  padding-left: 5vw;
  width: 70vw;
  margin: 0 auto;
  margin-top: 10vh;
  display: flex;
  padding-bottom: 2.5rem;
}

.Home2 {
  padding-right: 5vw;
  padding-left: 5vw;
  width: 80vw;
  margin: 0 auto;
  margin-top: 10vh;
  display: flex;
  padding-bottom: 2.5rem;
}

.Home2 h1 {
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  line-height: 1;
}



.Home2 p {
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    font-weight: normal;
  }

  .Home2 h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
  }


.Toggl {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: baseline;
  /* justify-content: space-evenly; */
}



.Home h1 {
  /* color: rgb(48, 48, 48); */
  font-size: 70px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: normal;
}


#Footer {
  width: 85vw;
  position: absolute;
  bottom: 0rem;
  left: 50;
  display: flex;
  justify-content: space-between;
  margin-left: 7vw;
  margin-bottom: 30px;
}

#Footer p {
  margin: 0;
  margin-bottom: 10px;
  padding-right: 5px;
}

@media only screen and (max-width: 600px) {
  .Nav {
    width: 100vw;
    flex-direction: column;
    align-items: center;
    padding-top: 2px;
    position: relative;
  }

  .Resume {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  
  .Resume p {
    padding-right: 5px;
    margin: 5px auto;
    /* display: none; */
  }
  .Home {
    margin: 0;
    padding-top: 20vw;
    width: 100vw;
  }

  .Bio {
    width: 100vw;
    padding: 0;
    padding-left: 3vw;
    padding-right: 3vw;
    margin: 0;
  }
  .Home h1 {
    font-size: 2rem;
  }
  .Hedgehog {
    text-align: center;
  }

  .MobileTweak {
    display: flex;
    flex-direction: row;
  }
}